#h1 {
    color: brown;
}

a {
    color: rgb(31, 105, 175);
}

.text-two {
    color:darkgreen;
}

.text-hree {
    color:darkmagenta;
}

.text-hree .over {
    color:rgb(255, 0, 0);
}